@import "style.css";

:root {
    --bg-color: white;
    --bg-container-color: var(--bright-wine);
    --font-color: var(--blue-violet);
    --link-border-font-color: var(--burgundy);
}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lato-regular-webfont.woff2') format('woff2'),
    url('../fonts/lato-regular-webfont.woff') format('woff'),
    url('../fonts/lato-regular-webfont.ttf') format('truetype'),
    url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot');
    src: url('../fonts/fontello.eot#iefix') format('embedded-opentype'),
    url('../fonts/fontello.woff2') format('woff2'),
    url('../fonts/fontello.woff') format('woff'),
    url('../fonts/fontello.ttf') format('truetype'),
    url('../fonts/fontello.svg#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

.portfolio {
    padding-top: 77px;
    padding-bottom: 17px;
    text-align: center;
}

.portfolio .portfolio-gallery__title {
    margin: 0;
}

.portfolio .portfolio-gallery__subtitle {
    margin-left: 0;
}

.gallery {
    font-size: 0;
    max-width: 1170px;
    margin: 0 auto;
}

.project-gallery {
    margin: 2rem;
}

.image-container {
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;
}

.preview {
    max-width: 300px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.image-container:after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: var(--bg-container-color);
    opacity: 0;
    -webkit-transition: all 450ms ease-out;
    -o-transition: all 450ms ease-out;
    transition: all 450ms ease-out;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
}

.image-container:hover:after {
    opacity: 0.9;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.hover-buttons {
    width: 90px;
    height: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}

.image-container:hover .hover-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.zoom {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid var(--bg-color);
    border-radius: 50%;
    z-index: 2;
}

.zoom:hover {
    background: var(--link-border-font-color);
    width: 50px;
    height: 50px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.zoom:after {
    display: inline-block;
    font: normal normal normal 14px/1 "fontello";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: auto;
    color: var(--bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.zoom:after {
    content: "\e802";
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    background: var(--bg-color);
    display: none;
}

.overlay.active {
    display: block;
    z-index: 10;
}

.popup {
    position: fixed;
    width: 100%;
    max-width: 1170px;
    border: 1px solid grey;
    padding: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 30px;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 11;
}

#project-popup {
    width: 60%;
}

.popup.active {
    display: block;
    width: 33%;
    margin: 60px 0;
}

.full-image {
    width: 100%;
    height: 100%;
    min-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: none;
}

.full-image.active {
    display: block;
}

.close {
    position: absolute;
    top: -20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    background: gray;
    color: var(--bg-color);
}

.close:after {
    font: normal normal normal 14px/1 "fontello";
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e801";
    display: inline-block;
    font-size: 15px;
    vertical-align: middle;
}

.close:hover {
    background: var(--link-border-font-color);
    cursor: pointer;
}

@media (min-width: 700px) {
    .preview {
        max-height: 260px;
        min-height: 260px;
    }
}

@media (max-width: 75rem) {
    .popup.active {
        width: 40%;
    }
}

@media (max-width: 62.5rem) {
    .popup.active {
        width: 50%;
    }
}

@media (max-width: 36rem) {
    .popup.active {
        width: 70%;
    }

    .portfolio .portfolio-gallery__title {
        font-size: 1.2rem;
    }
}